.navigate {
  display: flex;
  align-items: center;
}

.list {
  display: flex;
  gap: 40px;
}

.item {
  display: flex;
  align-items: center;
  color: var(--white);
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
}

.link:hover {
  color: var(--pink);
}
