.linksList {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding-top: 8px;
  margin-right: 4.85vw;
}

.link {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: var(--white);
}

.link:hover {
  color: var(--pink);
}

@media (min-width: 1440px) {
  .linksList {
    margin-right: 70px;
  }
}

@media (max-width: 1024px) {
  .linksList {
    margin-right: 2.9vw;
    white-space: nowrap;
  }
}

@media (max-width: 320px) {
  .linksList {
    gap: 2px;
  }

  .link {
    font-size: 14px;
    line-height: 130%;
  }
}
