.headerWrapper {
  background-color: var(--app-light-purple);
  display: flex;
  justify-content: center;
}

.contentWrapper {
  width: 100%;
  max-width: 1440px;
  padding: 18px 40px;
  display: flex;
  justify-content: space-between;
}

.logoLink {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 8px;
}

.logoName {
  color: var(--white);
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
}

.localeWrapper {
  display: flex;
  align-items: center;
  gap: 7px;
}

.localeButton {
  background: var(--pink);
  border-radius: 5px;
  border: none;
  padding: 1px 7px;
  color: var(--white);
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}

.localeButton:hover {
  background: var(--white);
  color: var(--pink);
}

.localeActive {
  background: var(--white);
  color: var(--pink);
}

.rightSideWrapper {
  display: flex;
  align-items: center;
  gap: 40px;
}
